
<% include ./header %>

<div class="login-page">
  
        <div class="form">
            
            <h5>Enter Tracking ID Below</h5>
                <% if(msg){ %>
                  <p class="badmsg"><%= msg %></p>
                  <% } %>
          <form action="/getStatus" method="post" class="login-form">
            <input type="text" name="trackingid" placeholder="tracking ID"/>
            <button type="submit">Get Shipping Status</button>
      
          </form>
          <!--If there is location info in first event, make table-->
          <% if(data!=null){ %>
          <% if(data["Events"]!=null){ %>
         
            <table>
              <thead>
                <th>Date and Time</th><th>Status</th><th>Location</th>
              </thead>
              <% for(var i=0;i < data["Events"].length; i++){ %>
              <tr>
                
                <td><%= data["Events"][i][0]  %></td><td><%= data["Events"][i][1]   %></td><td><%= data["Events"][i][2]  %></td>
              </tr>
              <% } %>
            </table>
            <% }else{ %>
                  <h2>Shipping Status:</h2>
                  <p>Picked up by USPS postal partner - In-transit.
                  </p>
                  <p>In the meantime, the shipper provided the below message:</p>
                  <p><%- data["Description"] %></p>
              <% } %>
              <% } %>
            
          
        
        </div>
      </div>

      <% include ./footer %>