
<% include ./header %>

<div class="login-page">
  
        <div class="form">
            
            <h5>Enter Tracking ID Below</h5>
                <% if(msg){ %>
                  <p class="badmsg"><%= msg %></p>
                  <% } %>
          <form action="/getStatus" method="post" class="login-form">
            <input type="text" name="trackingid" placeholder="tracking ID"/>
            <button type="submit">Get Shipping Status</button>
      
          </form>
          <!--If there is location info in first event, make table-->
          <% if(data!= null){ %>
          <% if(data["Items"][0]["Events"][0]["City"]!=null){ %>
            <table>
              <thead>
                <th>Date and Time</th><th>Status</th><th>Location</th>
              </thead>
              <% for(var i=0;i < data["Items"][0]["Events"].length; i++){ %>
              <tr>
                <script>var x = 'hello';</script>
                <td><%= Date(data["Items"][0]["Events"][i]["Date"])  %></td><td><%= data["Items"][0]["Events"][i]["StatusDescription"] %></td><td><%= data["Items"][0]["Events"][i]["DisplayLocation"] %></td>
              </tr>
              <% } %>
            </table>
            <% }else{ %>
                  <h2>Shipping Status:</h2>
                  <p>The package is likely between Mail on the Move and the shipper. Check back in 
                    12-24 hours for a status update. 
                  </p>
                  <p>In the meantime, the shipper provided the below message:</p>
                  <p><%- data["Items"][0]["Events"][0]["StatusDescription"] %></p>
              <% } %>
            <% } %>
          
        
        </div>
      </div>

      <% include ./footer %>