<% include ./dashboardheader %>


<% if (token && user) { %>
  
    <script>
       var token = <%- "'"+JSON.stringify(token)+"'" %>;
       var theUser = <%- "'"+JSON.stringify(user)+"'" %> 
       localStorage.setItem("token",token); 
       localStorage.setItem("user",theUser);           
    </script>
  <% } %>





<div class="inventory">
  
    <div class="inventory-form">
            
        <h3>Files uploaded by clients</h3>
        <% if(msg){ %>
        <h5 class="txt"><%= msg %></h5>
        <% } %>
        <p>We recommend deleting files once the status indicates "processed".<br>
            Upon downloading a file, it will change the file status from "waiting" to "processed".
        </p>
       
        <div class="row">
            <!--
        <form class="noform" action="/fileUploadPage" method="POST">
                <input name="theuser" value="<%= user %>" type="hidden">
                <input name="thetoken" value="<%= token %>" type="hidden">
        <button class="btn green left-align" type="submit">Upload A File</button>
         </form>
         -->
        </div>    

            <table>
                <thead>
                    <tr>
                        <td>Filename</td><td>Uploader</td><td>Upload Date</td><td>Status</td><td>Download File</td><td>Delete File</td>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < data.length; i++){ %>
                    <tr>
                        <form id="theform<%= parseInt(i) %>" action="/changeStatus" method="POST">
                        <td>File <%= data[i].file_name %></td>
                        <td><%= data[i].user %></td>
                        <td><%= dates[i] %></td>
                        <td><%= data[i].status %></td>
                        
                       
                            <input type="hidden" name="theUser" value="<%= user %>">
                            <input type="hidden" name="token" value="<%= token %>">
                            <input type="hidden" name="fileUser" value="<%= data[i].user %>"><input type="hidden" name="fileName" value="<%= data[i].file_name %>">
                        <td><a id="thelink<%= parseInt(i) %>"  class="btn green" href="/shippingFiles/<%= data[i].user %>/<%= data[i].file_name %>" download><i class="material-icons green" aria-label="download">expand_more</i> </a></td>
                    
                        <td><a class="btn red" href="/delete/<%= data[i].user %>/<%= data[i].file_name %>/<%= token %>/<%= user %>"> <i class="material-icons red" aria-label="delete file">close</i></a></td>
                    </form>
                    </tr>
                    <% } %>
                    
                </tbody>
            </table>
        </div>


</div>
    </div>

    <script>
       var data = <%- JSON.stringify(data) %>;
       console.log(data)
        var arr1 = [];
        for(var x = 0; x<data.length;x++){
            var formname = "#theform"+parseInt(x);
            console.log(formname)
            var form = document.querySelector(formname);
            var linkname = "#thelink"+parseInt(x);
            console.log(linkname);
            document.querySelector(linkname).addEventListener("click",function(){
                form.submit();
            })
        }
      
        

    
    </script>



















<% include ./footer %>